    .imagelink {
    display: table;
    margin: 20px auto;
}
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
    body {
      font-family: Arial, sans-serif;
      background-color: #0A1124;
      color: #0A1124;
      margin: 0;
      padding: 20px;
    }

    .container {
      max-width: 800px;
      margin: auto;
      background: #354341;
      padding: 20px;
      border-radius: 10px;
    }
     h1 {
      color:#92B99C;
      text-align: center;
      font-size: 100px;
      font-family : "Ranade", monospace
    }

    h2 {
      color: #92B99C;
      text-align: center;
      padding-bottom: 5px;
      margin-top: 30px;
      font-size: 20px;
      font-family : "Ranade", monospace
    }
        p {
      line-height: 0.1;
      text-align: center;
      color: #92B99C;
      font-family : "Ranade", monospace
    }
    a {
    color: inherit;
    text-decoration: none;
}

    h3 {

    color: #92B99C;
      text-align: center;
      margin-top: 30px;
    }
    .letra {
    text-align: center;
    color: #92B99C
}

.i:hover {
    color: red;
}

.d:hover {
    color: blue;
}

.h:hover {
    color: green;
}

.w:hover {
    color: purple;
}

.u:hover {
    color: orange;
}

    button {
    margin: 160px auto 20px auto;
    font-size: 30px;
    display: block;
    background-color: #92B99C;
    font-family : "Ranade", monospace;
    color: #22262c;
    width: 350px;
    height: 60px;
}
button:hover {
    background-color: rgb(169, 207, 191);
}
.menu {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px auto;
}
.lel {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 50px auto;
}
.writ {
    width: 400px;
    height: 500px;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin: 50px auto;
}
.caixa {
    background-color: #0A1124;
    padding: 40px 80px;
    width: fit-content;
    margin: auto;
}
body::before {
    content: "";
    position: fixed;
    inset: 0;

    background-image: url("seamlessgalaxysmooth.jpg");
    background-repeat: repeat;
    background-size: auto;

    animation:
        movimento 40s linear infinite,
        aparecer 30s ease-in-out infinite;

    z-index: -1;
    pointer-events: none;
}

@keyframes movimento {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 1400px 700px;
    }
}

@keyframes aparecer {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}